body {
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
  border-collapse: collapse;
}
tr:hover {
  background-color: #9ce0e0;
}

th {
  background-color: rgb(189, 190, 117);
}
